<%= raw errors_in_block_for(@invest_set) %>
<div class="form-item check-field">
  <label class="checkbox radio">
    <%= f.radio_button :frequency, 'algo', id: 'algo', class: 'form-check-input', checked: frequency_checked?('algo') %>
    <span class="checkmark"></span>
  </label>
  <label class="form-label" for="algo">
    <span>Let SISU determine an appropriate monthly investment amount. <a href="#" data-toggle="modal" data-target="#learn-more">Learn more</a></span>
  </label>
</div>
<div class="form-item check-field">
  <label class="checkbox radio">
    <%= f.radio_button :frequency, 'daily', id: 'daily', class: 'form-check-input', checked: frequency_checked?('daily') %>
    <span class="checkmark"></span>
  </label>

  <label class="form-label" for="daily">
    Daily - (<%= currency.symbol %>5 - <%= currency.symbol %>100)&nbsp;
    <div class="form-input">
      <%= f.text_field :amount, class: 'js-money_input' %>
    </div>
  </label>

</div>
<div class="form-item check-field">
  <label class="checkbox radio">
    <%= f.radio_button :frequency, 'weekly', id: 'weekly', class: 'form-check-input', checked: frequency_checked?('weekly') %>
    <span class="checkmark"></span>
  </label>
  <label class="form-label" for="weekly">
    Weekly - (<%=  currency.symbol %>5 - <%= currency.symbol %>4,000)
  </label>
</div>
<div class="form-item check-field">
  <label class="checkbox radio">
    <%= f.radio_button :frequency, 'monthly', id: 'monthly', class: 'form-check-input', checked: frequency_checked?('monthly') %>
    <span class="checkmark"></span>
  </label>
  <label class="form-label" for="monthly">
    Monthly - (<%= currency.symbol %>5 - <%= currency.symbol %>5,000)
  </label>
</div>
<div class="form-item check-field">
  <label class="checkbox radio">
    <%= f.radio_button :frequency, 'lowest', id: 'lowest', class: 'form-check-input', checked: frequency_checked?('lowest') %>
    <span class="checkmark"></span>
  </label>
  <label class="form-label" for="lowest">
    Percentage of lowest balance of the month:
  </label>
  <label class="form-label" for="lowest">
    (5% - 90%)&nbsp;
    <div class="form-input">
      <%= f.text_field :rel_min_balance %>
    </div>
  </label>
</div>

<div class="widget-body__separator">
  <span class="widget-body__separator-txt">and/or</span>
</div>

<div class="widget-body__title">One time investment</div>

<%= raw errors_in_block_for(@invest_transaction) %>

<div class="form-item check-field">
  <label class="checkbox">
    <input class="form-check-input" type="checkbox" name="invest_transaction[required]"  id="once">
    <span class="checkmark"></span>
  </label>
  <label class="form-label" for="once">
    Make one time transfer&nbsp; <%= currency.symbol %>
    <div class="form-input">
      <input type="hidden" name="invest_transaction[investment_type]" value="one_time">
      <input type="text" name="invest_transaction[amount]" value="<%= @invest_transaction&.amount %>">
    </div>
  </label>
</div>
