<%= raw errors_in_block_for(@invest_set) %>

<div class="form-item check-field">
  <label class="checkbox radio">
    <input class="form-check-input" type="radio" name="invest_set[frequency]" id="algo" value="algo"
           <%= frequency_checked?('algo') %> >
    <span class="checkmark"></span>
  </label>
  <label class="form-label" for="algo">
    <span>Let SISU determine on appropriate monthly investment amount. <a href="#" data-toggle="modal" data-target="#learn-more">Lear more</a></span>
  </label>
</div>
<div class="form-item check-field">
  <label class="checkbox radio">
    <input class="form-check-input" type="radio" name="invest_set[frequency]" id="daily" value="daily"
           <%= frequency_checked?('daily') %> >
    <span class="checkmark"></span>
  </label>
  <label class="form-label" for="daily">
    Daily(<%= currency_symbol %>5 - <%= currency_symbol %>100):&nbsp;

    <div class="form-input">
      <input type="text" name="invest_set[amount]" value="<%= @invest_set&.amount %>">
    </div>
  </label>
</div>
<div class="form-item check-field">
  <label class="checkbox radio">
    <input class="form-check-input" type="radio" name="invest_set[frequency]" id="weekly" value="weekly"
           <%= frequency_checked?('weekly') %> >
    <span class="checkmark"></span>
  </label>
  <label class="form-label" for="weekly">
    Weekly - (<%= currency_symbol %>5 - <%= currency_symbol %>4,000)
  </label>
</div>
<div class="form-item check-field">
  <label class="checkbox radio">
    <input class="form-check-input" type="radio" name="invest_set[frequency]" id="monthly" value="monthly"
           <%= frequency_checked?('monthly') %> >
    <span class="checkmark"></span>
  </label>
  <label class="form-label" for="monthly">
    Monthly - (<%= currency_symbol %>5 - <%= currency_symbol %>5,000)
  </label>
</div>
<div class="form-item check-field">
  <label class="checkbox radio">
    <input class="form-check-input" type="radio" name="invest_set[frequency]" id="lowest" value="lowest"
           <%= frequency_checked?('lowest') %> >
    <span class="checkmark"></span>
  </label>
  <label class="form-label" for="lowest">
    Percentage of lowest balance of the month (5% - 90%)
  </label>
</div>

<div class="widget-body__separator">
  <span class="widget-body__separator-txt">and/or</span>
</div>

<div class="widget-body__title">One time investment</div>

<%= raw errors_in_block_for(@invest_transaction) %>

<div class="form-item check-field">
  <label class="checkbox">
    <input class="form-check-input" type="checkbox" name="invest_transaction[required]"  id="once">
    <span class="checkmark"></span>
  </label>
  <label class="form-label" for="once">
    Make one time transfer&nbsp; <%= currency_symbol %>
    <div class="form-input">
      <input type="text" name="invest_transaction[amount]" value="<%= @invest_transaction&.amount %>">
    </div>
  </label>
</div>
