<%= render 'invest_sets/step_icon' %>
<div class="widget-card show">
  <div class="widget-header text-center">
    <span>Selected investment frequency <%= raw invest_set_status %></span>
  </div>

  <div class="widget-body">
    <div class="form-item flex-nowrap">
      <label class="form-label">
        <% if @invest_set.lowest? %>
          Percentage of lowest balance of the month - <%= @invest_set.rel_min_balance %>%
        <% else %>
          <%= @invest_set.frequency.camelize %> amount - <%= @invest_set.human_amount %>
        <% end %>
      </label>
      <a href="#" class="js-cancel-selected-investments" data-id="<%= @invest_set&.id %>">Cancel selected investment frequency and all pending transactions</a>
    </div>
    <div class="form-item">
      <span class="widget-list__controls">
        <button type="button" class="btn js-set-change-btn">CHANGE</button>
      </span>
    </div>
  </div>

  <div class="widget-footer text-center">
    <div class="widget-body__title">One time investment</div>
      <div class="js-one-time-investment-container">
        <%= render template: 'invest_transactions/new' %>
      </div>
    </div>
  </div>

  <!-- InvestSet Transactions block -->
  <%= render template: 'invest_sets/transactions/index' %>
  <!-- /InvestSet Transactions block -->
</div>
