<%= render 'invest_sets/step_icon' %>
<div class="widget-card show">
  <div class="widget-header text-center">
    <span>Selected investment frequency <%= raw invest_set_status %></span>
  </div>

  <div class="widget-body">
    <div class="form-item flex-nowrap">
      <label class="form-label">
        <%= @invest_set.frequency.camelize %> amount - $<%= @invest_set.amount %>
      </label>
      <a href="#"> Cancel selected investments</a>
    </div>
    <div class="form-item">
      <span class="widget-list__controls">
        <button type="button" class="btn js-set-change-btn">CHANGE</button>
      </span>
    </div>
  </div>

  <div class="widget-footer text-center">
    <div class="widget-body__title">One time investment</div>
      <%= render template: 'invest_transactions/new' %>
    </div>
  </div>

  <!-- InvestSet Transactions block -->
  <%= render template: 'invest_sets/transactions/index' %>
  <!-- /InvestSet Transactions block -->
</div>
