<% content_for :javascript do %>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<% end %>
<section class="content dashboard">
  <div class="content-head">
    <h1 class="content-title">Dashboard</h1>
    <p class="content-description">In order to use the SISU automated investment application, there are only three steps. </p>
  </div>
  <div class="dashboard-widget">
    <div class="dashboard-widget__item js-source-content <%= current_step.in?([1]) ? 'new active' : 'show' %>">
      <%= render template: 'source_accounts/index' %>
    </div>
    <div class="dashboard-widget__item js-invest-content <%= current_step.in?([1, 2]) ?  'new active' : 'show' %>">
      <%= render template: 'invest_accounts/index' %>
    </div>
    <div class="dashboard-widget__item js-set-content <%= current_step.in?([0, 3])  ? 'show' : 'new active' %>">
      <%= render template: 'invest_sets/index' %>
    </div>
  </div>
</section>
