<% content_for :javascript do %>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<% end %>
<section class="content dashboard">
  <div class="content-head">
    <h1 class="content-title">Dashboard</h1>
    <p class="content-description">In order to use the SISU automated investment application, there are only three steps. </p>
  </div>
  <div class="dashboard-widget">
    <div class="dashboard-widget__item js-source-content <%= @source_account ? 'show' : 'new' %>">
      <div class="widget-step-sign <%= @source_account ? 'show' : 'new' %>">
        <div class="icon source"></div>
        <span class="num">1.</span>
      </div>
      <%= render template: 'source_accounts/index' %>
    </div>
    <div class="dashboard-widget__item js-invest-content <%= @invest_set ? 'show' : 'new' %>">
      <div class="widget-step-sign <%= @invest_set ? 'show' : 'new' %>">
        <div class="icon invest"></div>
        <span class="num">2.</span>
      </div>
      <%= render template: 'invest_accounts/index' %>
    </div>
    <div class="dashboard-widget__item js-set-content <%= @invest_account ? 'show' : 'new active' %>">
      <div class="widget-step-sign <%= @invest_account ? 'show' : 'new' %>">
        <div class="icon invest_set"></div>
        <span class="num">3.</span>
      </div>
      <%#= render template: 'invest_sets/index_preview' %>
      <%= render template: 'invest_sets/index' %>
    </div>
  </div>
</section>
