<% content_for :javascript do %>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<% end %>
<section class="content dashboard">
  <div class="content-head">
    <h1 class="content-title">Dashboard</h1>
    <p class="content-description">In order to use the SISU automated investment application, there are only three steps. </p>
  </div>
  <div class="dashboard-widget">
    <div class="dashboard-widget__item js-source-content <%= source_block_class %>">
      <%= render template: 'source_accounts/index' %>
    </div>
    <div class="dashboard-widget__item js-invest-content <%= invest_block_class %>">
      <%= render template: 'invest_accounts/index' %>
    </div>
    <div class="dashboard-widget__item js-set-content <%= invest_set_block_class %>">
      <%= render template: 'invest_sets/index' %>
    </div>
  </div>
</section>
