<div class="widget-card show">
  <div class="widget-header text-center">
    <span>Source Account <%= raw account_status(@source_account) %></span>
  </div>
  <div class="widget-body">
    <ul class="widget-list">
      <li class="widget-list__item">
        <span class="widget-list__label">Name:&nbsp;</span>
        <span class="widget-list__value"><%= @source_account.name %></span>
      </li>
      <li class="widget-list__item">
        <span class="widget-list__label">Institution:&nbsp;</span>
        <span class="widget-list__value"><%= @source_account.institution %></span>
      </li>
      <li class="widget-list__item">
        <span class="widget-list__label">Balance:&nbsp;</span>
        <span class="widget-list__value">
          <%= @source_account.currency&.symbol %><%= @source_account.balance %>
        </span>
      </li>
      <li class="widget-list__item">
        <span class="widget-list__label">Type:&nbsp;</span>
        <span class="widget-list__value"><%= @source_account.account_type %></span>
      </li>
    </ul>
  </div>
  <div class="widget-footer text-center js-source-btn-area">
    <button type="button" class="btn js-source-change-btn">
      CHANGE ACCOUNT
    </button>
  </div>
</div>
<!-- Source Transactions block -->
<%= render template: 'source_accounts/transactions/index' %>
<!-- /Source Transactions block -->
