<div class="auth-block">
  <div class="col auth-block__description">
    <div class="auth-block__inner">
      <%= render 'layouts/blocks/auth_description_signup' %>
      <div class="auth-block__status sign-up"></div>
    </div>
  </div>
  <div class="col auth-block__form">
    <div class="auth-block__inner">
      <h1 class="auth-block__title">Sign Up</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <% if resource.errors.any? %>
          <div class="form-alert danger">
            <%= devise_error_messages! %>
          </div>
        <% end %>

        <% if flash[:recaptcha_error] %>
          <div class="form-alert danger">
            <%= flash[:recaptcha_error] %>
          </div>
        <% end %>

        <div class="form-item">
          <label for="<%= :email %>" class="control-label">Email Address</label>
          <%= f.email_field :email, autofocus: false, class: 'form-control' %>
        </div>

        <div class="form-item">
          <label for="<%= :password %>" class="control-label">Password</label>
          <%= f.password_field :password, autocomplete: "off", id: :password, class: 'form-control' %>
          <span class="show-password" data-toggle="<%= :password %>">Show</span>
        </div>

        <div class="form-item">
          <label for="<%= :password_confirmation %>" class="control-label">Confirm Password</label>
          <%= f.password_field :password_confirmation, id: :password_confirmation, autocomplete: "off", class: 'form-control' %>
          <span class="show-password" data-toggle="<%= :password_confirmation %>">Show</span>
        </div>

        <div class="form-item check-field">
          <div class="form-group">
            <label class="checkbox">
              <%= f.check_box :terms, id: :terms, class: 'form-check-input', checked: true %>
              <span class="checkmark"></span>
            </label>
            <label class="form-label" for="<%= :terms %>">
                <span>I agree to the
                  <%= link_to('Terms and Conditions', terms_path, target: '_blank') %></span>
            </label>
          </div>
        </div>

        <div class="form-item recaptha-field">
          <%= recaptcha_tags %>
        </div>

        <div class="form-item text-center">
          <%= f.submit "Sign up", class: "btn btn-full-width" %>
        </div>

      <% end %>

      <div class="auth-block__links text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</div>
