<div class="auth-block">
  <div class="col auth-block__description">
    <div class="auth-block__inner">
      <%= render 'layouts/blocks/auth_description' %>
      <div class="auth-block__status sign-up"></div>
    </div>
  </div>
  <div class="col auth-block__form">
    <div class="auth-block__inner">
      <h1 class="auth-block__title">Resend unlock instructions</h1>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <% if resource.errors.any? %>
          <div class="form-alert danger">
            <%= devise_error_messages! %>
          </div>
        <% end %>

        <div class="form-item">
          <label for="<%= :email %>" class="control-label">Email Address</label>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-item">
          <%= f.submit "Resend unlock instructions", class: 'btn' %>
        </div>
      <% end %>

      <div class="auth-block__links text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</div>


