<header class="text-center d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>User profile</strong>
        </h1>
        <hr>
      </div>
    </div>
    <% unless user.access_token %>
      <%= render 'widgets/plaid_token' %>
    <% else %>
      <div class="row my-3">
        <div class="col-sm-12">
          <%= account_balance(user.source_account, 'Source') %>
          <%= delete_account_link(user.source_account, 'Source') %>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-sm-12">
          <%= account_balance(user.invest_account, 'Invest') %>
          <%= delete_account_link(user.invest_account, 'Invest') %>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-sm-12">
          <% if user.strategy
              inv_action = 'Change' %>
              Current investment frequency: <%= user.strategy %>
          <%
            else
              inv_action = 'Select'
            end
          %>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-sm-12">
          <%= link_to("#{inv_action} investment frequency", edit_user_path, class: "btn btn-dark btn-xl sr-button") %>
        </div>
      </div>
    <% end %>
  </div>
</header>
