<div class="auth-block">
  <div class="col auth-block__description">
    <div class="auth-block__inner">
      <%= render 'layouts/blocks/auth_description_signup' %>
      <div class="auth-block__status sign-up"></div>
    </div>
  </div>
  <div class="col auth-block__form">
    <div class="auth-block__inner">
      <h1 class="auth-block__title">Forgot your password?</h1>
      <p class="form-description">Enter your email below and we’ll send  you the Reset link</p>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <% if resource.errors.any? %>
          <div class="alert alert-danger fade show" role="alert">
            <%= devise_error_messages! %>
          </div>
        <% end %>

        <% if flash[:recaptcha_error] %>
          <div class="alert alert-danger fade show" role="alert">
            <%= flash[:recaptcha_error] %>
          </div>
        <% end %>

        <div class="form-item">
          <label for="<%= :email %>" class="control-label">Email Address</label>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-item recaptha-field">
          <%= recaptcha_tags %>
        </div>

        <div class="form-item">
          <%= f.submit "Send password reset email", class: 'btn' %>
        </div>
      <% end %>

      <div class="auth-block__links text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
