<div class="auth-block">
  <div class="col auth-block__description">
    <div class="auth-block__inner">
      <%= render 'layouts/blocks/auth_description' %>
      <div class="auth-block__status sign-in"></div>
    </div>
  </div>
  <div class="col auth-block__form">
    <div class="auth-block__inner">
      <h1 class="auth-block__title">Sign in</h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-item">
          <label for="email" class="control-label">Email Address</label>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-item">
          <label for="<%= :password %>" class="control-label">Password</label>
          <%= f.password_field :password, id: :password, autocomplete: "off", class: 'form-control' %>
          <span class="show-password" data-toggle="<%= :password %>">Show</span>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-item agree-field">
            <div class="form-group">
              <label class="checkbox">
                <%= f.check_box :remember_me, id: 'remember_me', class: 'form-check-input' %>
                <span class="checkmark"></span>
              </label>
              <label class="form-label" for="remember_me">
                <span>Remember me</span>
              </label>
            </div>
          </div>
        <% end -%>

        <div class="form-item text-center">
          <%= f.submit "Log in", class: "btn btn-full-width" %>
        </div>
      <% end %>

      <div class="auth-block__links text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</div>
