<tr class="content">
  <td valign="top" height="auto">
    <div class="container">
      <div class="_wrap">&nbsp;</div>
      <span class="title">
        Hi <%= @user.human_name %>
      </span>
      <div class="_wrap">&nbsp;</div>
      <span class="line">
        A new recurring bank transfer has been initiated on your behalf.  Details are below:
      </span>
      <div class="_wrap">&nbsp;</div>
      <span class="line">
        <strong>Type:</strong> ACH Transfer
      </span>
      <% if @invest_set.frequency.in?(%w[daily monthly weekly]) %>
        <div class="_wrap">&nbsp;</div>
        <span class="line">
          <strong>Amount:</strong> <%= @invest_set.human_amount %>
        </span>
      <% end %>
      <div class="_wrap">&nbsp;</div>
      <span class="line">
        <strong>Date:</strong> <%= l @invest_set.created_at.to_date, format: :default %>
      </span>
      <div class="_wrap">&nbsp;</div>
      <span class="line">
        <strong>Frequency:</strong>
        <% if @invest_set.frequency == 'lowest' %>
          Percentage of lowest balance of the month - <%= @invest_set.rel_min_balance %>%
        <% elsif (@invest_set.frequency == 'algo') %>
          SISU determine an appropriate monthly investment amount.
        <% else %>
          <%= @invest_set.frequency.camelize %>
        <% end %>
      </span>
      <div class="_wrap">&nbsp;</div>
      <span class="line">
        <strong>Originating Account:</strong> <%= @source_account.account_type %> ***<%= @source_account.mask %>
      </span>
      <div class="_wrap">&nbsp;</div>
      <span class="line">
        <strong>Bank Identifier:</strong> <%= @source_account.institution %>
      </span>
      <div class="_wrap">&nbsp;</div>
      <div class="_wrap">&nbsp;</div>
      <span class="line">
        <strong>Recipient Account:</strong> <%= @invest_account.account_type %> ***<%= @invest_account.mask %>
      </span>
      <div class="_wrap">&nbsp;</div>
      <span class="line">
        <strong>Bank Identifier:</strong> <%= @invest_account.institution %>
      </span>
      <div class="_wrap">&nbsp;</div>
      <span class="line">
        <%= link_to 'You can make changes at', new_user_session_url, target: '_blank' %>.
      </span>
    </div>
  </td>
</tr>
