<%= render 'invest_accounts/step_icon' %>
<div class="widget-card show">
  <div class="widget-header text-center">
    <span>Invest Account <%= raw account_status(@invest_account) %></span>
  </div>
  <div class="widget-body">
    <ul class="widget-list">
      <li class="widget-list__item">
        <span class="widget-list__label">Name:&nbsp;</span>
        <span class="widget-list__value"><%= @invest_account.name %></span>
      </li>
      <li class="widget-list__item">
        <span class="widget-list__label">Institution:&nbsp;</span>
        <span class="widget-list__value"><%= @invest_account.institution %></span>
      </li>
      <li class="widget-list__item">
        <span class="widget-list__label">Balance:&nbsp;</span>
        <span class="widget-list__value">
          <%= @invest_account.human_balance %>
        </span>
      </li>
      <li class="widget-list__item">
        <span class="widget-list__label">Type:&nbsp;</span>
        <span class="widget-list__value"><%= @invest_account.account_type %></span>
      </li>
    </ul>
  </div>
  <div class="widget-footer text-center js-invest-btn-area">
    <button type="button" class="btn js-invest-change-btn">
      CHANGE ACCOUNT
    </button>
  </div>
</div>
<!-- Source Transactions block -->
<%= render(template: 'invest_accounts/transactions/index') %>
<!-- /Source Transactions block -->
