<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <title>Sisu</title>
   <%= stylesheet_link_tag :application, media: "all" %>
   <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'js_set_envs' %>
    <main class="main">
      <%= render 'layouts/blocks/navbar' %>
      <div class="container">
        <%= render 'flashes' -%>
        <%= yield %>
      </div>
    </main>

    <!--POPUPS-->
    <%= render 'layouts/modals/confirm-delete-transaction' %>
    <%= render 'layouts/modals/confirm-cancel-selected-investments' %>
    <%= render 'layouts/modals/learn_more' %>
    <%= render 'layouts/modals/security_info' %>
    <%= render 'layouts/modals/thank_you_steps' %>
    <%= render 'layouts/modals/account_success' %>
    <%= render 'layouts/modals/external_service_unavailable' %>
    <!--POPUPS END-->

    <%= render 'javascript' %>
    <%= render 'css_overrides' %>
  </body>
</html>
