<section class="d-flex">
  <div class="container my-auto">
    <div class="row my-2">
      <div class="col-sm-12">
        <%= link_to('< Back', user_path, class: "btn btn-light btn-xl sr-button") %>
      </div>
      <div class="col-sm-9 offset-sm-3"><h3>Account information</h3></div>
    </div>
    <div class="row">
      <div class="col-sm-3">Account ID:</div>
      <div class="col-sm-9"><%= @account_data.account_id %></div>
    </div>
    <div class="row">
      <div class="col-sm-3">Current balance:</div>
      <div class="col-sm-9"><%= @account_data.balances[:current] %></div>
    </div>
    <div class="row">
      <div class="col-sm-3">Available balance:</div>
      <div class="col-sm-9"><%= @account_data.balances[:available] %></div>
    </div>
    <div class="row">
      <div class="col-sm-3">Name:</div>
      <div class="col-sm-9"><%= @account_data.name %></div>
    </div>
    <div class="row">
      <div class="col-sm-3">Legal name:</div>
      <div class="col-sm-9"><%= @account_data.official_name %></div>
    </div>
    <div class="row">
      <div class="col-sm-3">Type:</div>
      <div class="col-sm-9"><%= @account_data.type %></div>
    </div>

    <div class="row my-2">
      <div class="col-sm-9 offset-sm-3"><h3>Transactions</h3></div>
    </div>
    <% @transactions_data.each do |trn| %>
      <div class="row">
        <div class="col-sm-2"><%= trn[:date] %></div>
        <div class="col-sm-8"><%= trn[:name] %></div>
        <div class="col-sm-2"><%= trn[:amount] %></div>
      </div>
    <% end %>
  </div>
</section>
